<tr>
    <td>{name}</td>
    <td>{username}</td>
    <td>{email}</td>
    <td>{registration_date}</td>
    <td>
        <div class="button-container">
            <form action="../controllers/showTemplate.php" method="post" style="display: inline-block; margin-right: 5px;">
                <input type="hidden" name="action" value="update" readonly>
                <input type="hidden" name="id" value="{id}">
                <input type="hidden" name="name" value="{name}">
                <input type="hidden" name="username" value="{username}">
                <input type="hidden" name="email" value="{email}">
                <input type="hidden" name="password" value="{password}">
                <input type="hidden" name="registration_date" value="{registration_date}">
                <input class="button5 button" type="submit" value="Edit">
            </form>
            
            <form action="../controllers/showTemplate.php" method="post" style="display: inline-block;">
                <input type="hidden" name="action" value="delete" readonly>
                <input type="hidden" name="id" value="{id}">
                <input type="hidden" name="name" value="{name}">
                <input type="hidden" name="username" value="{username}">
                <input type="hidden" name="email" value="{email}">
                <input type="hidden" name="password" value="{password}">
                <input type="hidden" name="registration_date" value="{registration_date}">
                <input class="button button6" type="submit" value="Delete">
            </form>
        </div>
    </td>
</tr>
