<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/style.css">
    <title>Home</title>
</head>
<body>
    <button><a href="../views/registerPlayer.html">Register</a></button>
    <table id="customers">
    <thead>
        <td>Name</td>
        <td>Username</td>
        <td>Email</td>
        <td>Registration Date</td>
    </thead>
    <tbody>
        {LINES}
    </tbody>
</table>
</body>
</html>
