<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="../controllers/createPlayer.php" method="post">
        <label for="">Player's name: </label>
        <input type="text" name="name" required><br>
        <label for="">Username:</label>
        <input type="text" name="username" required><br>
        <label for="">Email:</label>
        <input type="email" name="email" required><br>
        <label for="">Password:</label>
        <input type="password" name="password" required><br><br>
        <input type="submit">
    </form>
</body>
</html>